.container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  padding: 20px;
}

.calculator {
  padding: 20px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.result {
  text-align: end;
  background-color: darkslategrey;
  color: antiquewhite;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.number {
  background-color: azure;
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
}

.simbol {
  background-color: orangered;
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
}

.special {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
